@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Inter:wght@500;800&family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: white;
    width: 100vw;
}

h1, h2 {
    color: white;
    font-size: 2.1em;
    font-weight: 800;
    font-family: "Inter", sans-serif;
}
  
.main_section {
    margin-left: 14vw;
}

.header {
    margin-bottom: 4vh;
    margin-top: 4vh;
}